/* General styles */
.container {
  text-align: center;
  padding: 20px;
}

.site-header {
  background-color: purple;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.site-name {
  font-size: 24px;
  color: white;
}

.site-content {
  margin-top: 20px;
}

.subtitle {
  margin-bottom: 20px;
  color: purple;
  font-size: 20px;
}

.profile-box {
  display: inline-block;
  margin: 20px;
}

.profile-photo-large {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 10px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 21px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 4px;
}


button:hover {
  background-color: blueviolet;
  cursor: pointer;
}
