body {
    background-color: #ffafcc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: #531b93;
}

.subtitle {
    font-size: 20px;
    color: #531b93;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.profile {
    margin: 0 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.vote-btn {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #531b93;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.vote-button:hover {
    background-color: #ff0066;
}
