body {
  background-color: #ffafcc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #6f52ed;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin: 10px;
}

.facebook-button {
  background-color: #4267B2;
}

.instagram-button {
  background-color: #E1306C;
}

.google-button {
  background-color: #DB4437;
}
